.fp-shell{
  &.fp-sidebar{
    @include transition( all .3s cubic-bezier(0.755, 0.050, 0.855, 0.060));
    @include transform(translateX(100%)translateZ(0));
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background: #fff;
    margin-top: 0;
    border: none;
    padding-top: 50px;
    -webkit-box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0);
    box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0);

    overflow-y: scroll;


    @include breakpoint(tablet){
      margin-right: -15px;
      padding-top: 20px;
      width: 60%;
      width: 60vw;
    }

    @include breakpoint(laptop){
      width: 50%;
      width: 50vw;
    }

    @include breakpoint(desktop){
      width: 40%;
      width: 40vw;
    }


    &.active {
      @include transform(translateX(0)translateZ(0));
      -webkit-box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 18px 44px -12px rgba(0, 0, 0, 0.6);
    }

    &.fp-logged-in{
      margin-top: 32px;
    }

    .fp-item-type, .text{
      padding-left: 20px;
    }

    .text{
      padding-bottom: 25px;
    }

    .fp-topper{
      padding-left: 15px;
    }

  }

  .fp-input-wrapper{
    padding-bottom: 10px;

    input{
      display: block;
      float: none;
    }
  }

  .fp-button-wrapper{
    display: block;
    padding-left: 0;
    margin-top: 40px;
    padding-top: 0;

  }

  .fp-close {
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-indent: 100%;
    top: 15px;
    height: 30px;
    width: 30px;
    z-index: 3;
    border: 2px solid $grey;
    border-radius: 50%;

    a{
      height: 50px;
      width: 50px;
      display: block;
    }

    &::before, &::after {
      background-color: $black;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 2px;
    }

    &::before {
      @include transform(translateX(-50%)translateY(-50%)rotate(-45deg));
    }

    &::after {
      @include transform(translateX(-50%)translateY(-50%)rotate(45deg));
    }

    @include breakpoint(laptop){
      #header & {
        display: none;
      }
    }
  }

}

.fp-overlay{

  @include breakpoint(tablet){
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: $black;
    opacity: 0;
    z-index: 1050;
    @include transition( all .3s .3s );

    &.active{
      width: 100%;
      height: 100%;
      display: block;
      opacity: .5;
    }
  }

}