
.fp-shell {
  border-top: 1px solid $lighter-grey-hover;
  margin-top: 20px;
  padding-top: 40px;
  position: relative;
}
.fp-sub-title{
  font-size: 18px;
  color: $light-brown;
  line-height: 18px;
}
.fp-title {
  color: $cinn;
  font-size: 32px;
  line-height: 32px;
}
.fp-divider{
  margin:0 5px 0 15px;
  color: $light-brown;
  font-size: 48px;
  font-weight: 100;
}

.fp-size-pt{
  color: $brown-grey;
  font-size: 24px;
}

.fp-input-wrapper{
  margin: 20px 0;
  background-color: $gold;
  position: relative;
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;

  @include breakpoint(desktop){
    padding: 20px;
  }

  input{
    position: relative;
    width: auto;
    height: 50px;
    border-radius: 50px;
    border: 1px solid $grey;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;

    //&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    //  padding-left: 20px;
    //}
    //&::-moz-placeholder { /* Firefox 19+ */
    //  padding-left: 20px;
    //}
    //&:-ms-input-placeholder { /* IE 10+ */
    //  padding-left: 20px;
    //}
    //&:-moz-placeholder { /* Firefox 18- */
    //  padding-left: 20px;
    //}

    &:focus{
      outline: none;
    }

    @include breakpoint(tablet){
      font-size: 19px;
      
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        padding-left: 0;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        padding-left: 0;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        // padding-left: 0;
      }
      &:-moz-placeholder { /* Firefox 18- */
        padding-left: 0;
      }

    }

    @include breakpoint(desktop){
      display: inline-block;
      float: left
    }
  }

  .fp-enter-text{
    font-size:12px;
    padding-bottom: 5px;
    font-weight: bold;
    display: block;
    color: $brown-grey;
  }
}

.fp-button-wrapper{
  display: block;
  height: 50px;
  padding-top: 15px;
  margin-top: 20px;

  @include breakpoint(desktop){
    padding-top: 0;
    padding-left: 20px;
    display: inline-block;
  }

  a{
    font-size: 14px;
    display: inline-block;
    padding: 12px 10px 0;
    position: relative;
    color: $brown-grey;
    cursor: pointer;

    &.active{
      font-weight: bold;
      span{
        font-weight: bold;
      }
    }

    &:hover{
      color: $dark-blue;
    }
    &:focus{
      outline: none;
      text-decoration: none;
    }
  }
  span{
    position: absolute;
    top: -10px;
    left: 50%;
    transform:translateX(-50%);
    font-weight: 300;
  }
  .btn-36{
    font-size: 16px;
    top: -9px;
  }
  .btn-48{
    top: -11px;
    font-size: 21px;
  }
  .btn-72{
    top: -12px;
    font-size: 28px;
  }
}

.fp-item{
  border-bottom: 1px solid $lighter-grey-hover;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .text {
    -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.745, 1.015);
    -moz-transition: all 0.3s cubic-bezier(1, 0.01, 0.745, 1.015);
    transition: all 0.3s cubic-bezier(1, 0.01, 0.745, 1.015);
    text-rendering: optimizeLegibility;
  }

  .small {
    font-size: 24px;
    line-height: 32px;
  }

  .medium {
    font-size: 36px;
    line-height: 42px;
  }

  .large {
    font-size: 48px;
    line-height: 56px;
  }

  .xtra-large {
    font-size: 72px;
    line-height: 108px;
  }

}

.fp-item-type{
  color: $cinn;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
