.et_twenty_seventeen_about_widget{
  .about-widget{
    text-align: center;
  }
  .about-round{
    max-width: 225px;
    border-radius: 50%;
    margin: 0 auto;
  }
  p{
    text-align: center;
  }
}
/// widget
.et_twenty_seventeen_instagram_widget{
  margin: 0 !important;
}


//pinterest widget
.apsp-widget-free{
  min-height: 438px;
}

