// SUBSCRIPTION SIGN-UP
.jetpack_subscription_widget{

  form{

  }

  #subscribe-email{
    display: flex;
    flex: 1;
  }

  #subscribe-text{
    p{
      padding-top: 0;
      margin-top: 0;
    }
  }

  input[type="email"]{
    border: 3px solid $dark-blue;
    border-radius: 25px;
    font-size: 14px;
    width: 100%;
    position: relative;
    line-height: 40px;
    padding: 0 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #8d8d8d;
    background-color: transparent;
    outline: 0;
    vertical-align: middle;
    flex: 1;
    height: 40px;

    @include transition(all .3s);

    &:focus{
      border-color: $blue;
    }

  }

  input[type="submit"]{
    outline: none;
    background-color: $pink;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    color: $white;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
    @include transition(all .3s);

    &:hover{
      background-color: $dark-blue;
    }
  }
}