@font-face {
  font-family: 'hawthorne';
  src: url('assets/fonts/hawthorne/HawthorneScript-Regular.eot'),
  url('assets/fonts/hawthorne/HawthorneScript-Regular.woff2') format('woff2'),
  url('assets/fonts/hawthorne/HawthorneScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.hawthorne{
  font-family: 'hawthorne';
}