@font-face {
  font-family: 'honeymoon';
  src: url('assets/fonts/honeymoon/honeymoon-regular-webfont.eot');
  src: url('assets/fonts/honeymoon/honeymoon-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/honeymoon/honeymoon-regular-webfont.woff2') format('woff2'),
  url('assets/fonts/honeymoon/honeymoon-regular-webfont.woff') format('woff'),
  url('assets/fonts/honeymoon/honeymoon-regular-webfont.ttf') format('truetype'),
  url('assets/fonts/honeymoon/honeymoon-regular-webfont.svg#honeymoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}