.eltdf-page-not-found{
  margin-bottom: 80px;
  border: none;
}
.eltdf-404-page{
  .et2017-tabs-date,
  .et2017-tabs-link,
  .eltdf-pt-one-item .eltdf-pt-one-image-holder .eltdf-post-info-category{
    display: none;
  }
}
