/* ----------------------------------------------------------------------------
 * Bio card
 * ------------------------------------------------------------------------- */
.flex-bio-card{
  align-items: stretch;
}

.et-biocard{
  border-top: 15px solid $yellow;
  background:$white;
  margin:0 auto 30px;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  max-width: 300px;

  @include transition(all .3s);
  @include transform(translate3d(0, 0, 0));

  @include breakpoint(laptop){
    margin:0 15px 30px;
    max-width: none;
  }

  @include e(image){
    @include transition(all .3s);
    @include transform(scale(1) translate3d(0, 0, 0));
    width: 200px;
    height: 200px;
    background-color: $light-grey;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
  }

  @include e(content){
    @include transform(translate3d(0, 0, 0));
    @include transition(transform .3s);
    text-align: center;

    h3{
      font-weight: 600;
      color: $dark-blue;
      font-size: 18px;
      margin-bottom: 5px;
    }

    h6{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
    }

  }

  @include e(divider){
    @include transform(translate3d(0, 0, 0));
    @include transition(transform .3s);
    width: 150px;
    height: 10px;
    padding: 20px 0;
  }

  @include e(desc){
    text-align: center;
    padding: 15px 0;
  }


}
