/* ----------------------------------------------------------------------------
 * Et intro with large floating images
 * ------------------------------------------------------------------------- */
.et-box-intro{

  h2{
    display: flex;
    align-items: center;
  }

  .et-box{
    z-index: 2;
    max-width: 500px;
    @include breakpoint(desktop){
      max-width: 600px;
    }
  }

  &.flex-container.list{
    min-height: 280px;
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
    z-index: 4;

    @include breakpoint(tablet){
      flex-direction: row;
    }
  }

}

.et-box-float-images {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;
  position: absolute;
  top: 47px;
  @include transform-origin(50% 50%);

  right: -15%;
  @include transform(rotate(-12deg)translateX(40px));

  @media only screen and (max-width: 767px){
    display: none;
  }

  @include breakpoint(tablet){
    display: block;
    right: -76%;
    top: -26px;
    @include transform(rotate(0deg)translateX(40px));
  }

  @media only screen and (min-width: 992px){
    display: block;
    right: -58%;
    @include transform(rotate(-2deg)translateX(-70px));
  }

  @media only screen and (min-width: 1025px){
    display: block;
    right: -34%;
    top: 0;
    @include transform(rotate(-12deg) translateX(-70px));
  }

  @include breakpoint(desktop){
    right: -8%;
    @include transform(rotate(-12deg)translateX(40px));
  }

  img{
    margin: 0 auto;
  }

  .left{
    position: relative;
    top: -23px;
    right: -75px;

    @include breakpoint(tablet){
      top: -100px;
    }
  }

  .top-images{
    flex:1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .palette-round{
    max-width: 400px;
    margin: 0 auto;
    width: 60%;
    position: relative;
  }

  .eyedroppers{
    position: relative;
    max-width: 220px;
    width: 30%;

    @include breakpoint(tablet){
      left: -35px;
    }
  }

  .palette-tall{
    max-width: 320px;
    top:-100px;
    position: relative;
    @include transform(rotate(-20deg));
  }

  .design-card{
    max-width: 475px;
    position: relative;
    width:70%;
    @include transform(rotate(-20deg));
    @include breakpoint(tablet){
      margin-top:60px;
      right: -100px;
    }
  }
}