/* ----------------------------------------------------------------------------
 * Grid One
 * ------------------------------------------------------------------------- */
.et-grid-one{
  border: 2px solid rgba(207,215,223,.5);
  border-left: none;
  border-right: none;
  margin: 0 2%;
  z-index: 2;
  position: relative;

  @include e(item){
    padding: 60px 0;
    flex:1;

    @include breakpoint(tablet){
      padding: 60px;
    }

    h2{
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    & > p{
      font-size: 16px;
      @include breakpoint(tablet){
        margin-bottom: 40px;
      }
    }

    & > a{
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      color: $darker-grey;

      &:hover{
        color: $dark-grey-hover;
      }

      @include breakpoint(tablet){
        position: absolute;
        bottom: 60px;
      }

      i{
        padding-left: 10px;
        font-size: 13px;
      }
    }

    .circle-dot{
      margin-bottom: 30px;
    }
  }

  .flex-xs{

    .et-grid-one__item{
      border-bottom: 2px solid rgba(207,215,223,.5);

      @include breakpoint(tablet){
        border-left: 2px solid rgba(207,215,223,.5);
      }
    }

    @include last(1){
      .et-grid-one__item{
        border-bottom: none;
      }
    }

    @include odd(){
      .et-grid-one__item{
        padding-left: 0;
      }
    }

    @include even(){
      .et-grid-one__item{
        padding-right: 0;
      }
    }

    @include breakpoint(tablet){
      @include odd(){
        .et-grid-one__item{
          border-left: none;
        }
      }

      @include last(2){
        .et-grid-one__item{
          border-bottom: none;
        }
      }
    }

  }

}