/*------------------------------------*\
    Footer Styles
\*------------------------------------*/
footer{
  position: inherit;
}
.dotted-border-top{
  border: none;
  border-right: 0;
  border-left: 0;
  // Safari & Chrome need border-style and border-color ¯\_(ツ)_/¯
  border-style: dotted;
  border-color: rgba(213, 126, 0, 1);
  border-image-source: url('./assets/images/dots.svg');
  border-image-slice: 20% 20%;
  border-image-repeat: space;
  border-width: 3px 0 0 0;
}

.et-footer {
  padding: 80px 0 60px;
}

footer .widget>.eltdf-footer-widget-title{
  margin:0;
  font-size: 14px;
  font-weight: 600;
}
footer .widget:not(:last-child){
  margin: 0 0 10px;
}
.footer-col{
  display: inline-block;
  position: relative;
  @include breakpoint(laptop){
    float: left;
  }

  .eltdf-logo-wrapper{
    max-width: 226px;
    margin: 0 auto 25px;
    padding-left: 15px;
    img {
      height: auto;
    }
  }

  h6{
    font-size: 12px;
    color: $dark-blue;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.footer-col-1 {
  width: 100%;
  text-align: center;
  @include breakpoint(laptop){
      text-align: left;
      width:30%;
  }
  @include breakpoint(desktop){
    width:27%;
  }

}

.footer-col-2,
.footer-col-3
{
  display: block;
  text-align: center;
  margin-bottom: 35px;

  @include breakpoint(laptop){
    float: left;
    display: inline-block;
    text-align: left;
    width: 15%;
  }
}

.footer-col-4
{
  width: 100%;
  clear: both;
  margin: 0 auto 35px;
  text-align: center;
  @include breakpoint(laptop){
    text-align: left;
    margin: 0;
    clear: none;
    width: 15%;

    a{
      float: left;
      margin: 0 10px 10px 0;

      @include every(5){
        clear: both;
      }
    }
  }
  @include breakpoint(desktop){
      width: 16%;
  }
}


.footer-col-5 {
  width: 100%;
  text-align: center;
  @include breakpoint(laptop){
    text-align: left;
    width:25%
  }
  @include breakpoint(desktop){
    width:27%
  }
}

.footer-nav{

  li{
    list-style: none;
    line-height: 12px;
    //display: block;
    //margin: 0 auto;
  }
  h6{
    font-size: 14px;
  }
  a{
    font-size: 12px;
    font-weight: 500;
    color: #95989A;
    text-transform: uppercase;
    @include transition(all .3s);
    display: inline-block;
    margin-bottom: 10px;
    &:hover{
      color: $pink;
    }

  }
  a.eltdf-social-icon-widget-holder {
    background-color: $blue;
    border-radius: 50%;
    @include transition(background-color 0.1s ease-out, border-color 0.1s ease-out);
    text-align: center;
    width: 27px;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    margin: 0 5px;

    &:hover {
      background-color: $dark-blue;
    }

    @include breakpoint(laptop){
     margin: 0 10px 10px 0;
    }

  }
}


// Footer Class Link
.class-widget{
  a{
    display: inline-block !important;
    position: relative;
    &:hover{
      color: $pink !important;
    }
  }
  .class-link-image{
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  img{
    width: 25px;
    height: 25px;
  }
  .class-link-text{
    display: inline-block;
    position: relative;
    line-height: 18px;
    padding-left: 30px;
  }
}



