/*------------------------------------*\
    Latest News
\*------------------------------------*/

.et-latest-news {
  padding: 60px 0 60px;
  @include breakpoint(desktop){
    padding: 60px 0 120px;
  }

  .eltdf-pt-three-image-holder{
    //akward line up so I disabled it
    //vertical-align: initial;
  }

  .eltdf-pt-three-title{
    font-weight: 500;
  }

  .eltdf-bnl-holder .eltdf-bnl-outer .eltdf-bnl-inner{
    //margin-bottom: -98px;
    position: relative;
    display: table;
  }

  .eltdf-pt-one-item {
    margin-bottom: 0;
  }

  .et2017-tabs-date{
    text-align: center;
    background: $blue;
    float: left;
    width: 92px;
    height: 92px;
    position: relative;

    @include breakpoint(tabletmax){
      display: block;
      position: relative;
      text-align: left ;
      background: $white;
      float: none;
      width: auto;
      height: auto;
    }

    @include breakpoint(rd-mobile-h-max){
      display: none;
    }

    .et2017-tabs-date__wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%)translateY(-50%));

      @include breakpoint(tabletmax){
        position: relative;
        top: 0;
        left: 0;
        @include transform(translateX(0)translateY(0));
      }
    }

    .et2017-tabs-date__day{
      font-size: 24px;

      @include breakpoint(tabletmax){
        font-size: 12px;
      }

    }

    .et2017-tabs-date__month{
      text-transform: uppercase;
      font-size: 12px;
    }

    span{
      display: block;
      font-weight: 600;
      @include breakpoint(tabletmax){
        display: inline-block;

      }
    }
  }

  .eltdf-pt-one-excerpt{
    clear: both;
    padding-top: 15px;
    display: table;
    position: relative;

    @include breakpoint(rd-mobile-h-max){
      padding:0;
    }

  }

  .eltdf-pb-one-holder {
    .eltdf-pt-one-item{
      .eltdf-pt-one-title-holder{
        -webkit-box-shadow: 0px 18px 44px -17px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 18px 44px -17px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 18px 44px -17px rgba(0, 0, 0, 0.3);
        height: 92px;
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 0;

        @include breakpoint(tabletmax){
          height: auto;
          display: table;
        }

        @include breakpoint(rd-mobile-h-max){
          height: auto;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

        .eltdf-pt-one-title{

          display: block;
          position: absolute;
          top:50%;
          @include transform(translateY(-50%));
          left:115px;
          font-size: 18px;
          line-height: 24px;
          padding-right: 20px;

          @include breakpoint(tabletmax){
            left:0;
            position: relative;
            top:0;
            @include transform(translateY(0));
            font-size: 24px;
            max-width: 100%;
          }

          @include breakpoint(rd-mobile-h-max){
            width: auto;
            position: relative;
            left: auto;
            padding:15px 0;
            font-weight: 500;
            line-height: 24px;
            top: 0;
            @include transform(translateY(0));
          }

        }
      }
    }
    
  }

  .eltdf-pt-one-item.eltdf-item-hovered .eltdf-pt-one-title a{
    color: $light-brown;
  }

  .eltdf-tabs {

    // top nav
    .eltdf-tabs-nav {
      margin:0 0 60px;

      ul{
        text-align: center;
      }
      li {
        &.ui-state-active a{
          background-color: $blue;
          border: 2px solid $blue;
        }
        a{
          border-radius: 50px;
          color: $dark-blue;
          border-width: 2px;

          &:hover{
            border-width: 2px;
          }
        }
      }
    }

    .eltdf-pt-one-image-holder{
      margin-bottom: 23px;
      @include breakpoint(tabletmax){
        margin-bottom: 20px;
      }
    }

    //feature item
    .eltdf-pt-one-content-holder {
      margin: 0 30px -25px;
      top: -69px;
      background: $white;
      width: auto;

      @include breakpoint(tabletmax){
        position: relative;
        display: block;
        background: $white;
        margin:0 auto;
        top:0;
        width: 100%;
      }
      @include breakpoint(rd-mobile-h-max){
        margin: 0 auto;
      }

      @include breakpoint(desktop){
        margin-bottom: -65px;
      }


    }


  }

  .et2017-tabs-link{
    margin-top: 15px;
    font-weight: bold;
    position: relative;
    display: inline-block;

    @include breakpoint(tablet){
      margin-bottom: 40px;
    }

    a{
      display: inline-block;
      span{
        margin-left: 5px;
        position: relative;
        display: inline-block;
        width: 65px;
        height: 16px;
        top:4px;
        background: url('./assets/images/read-more.png');
      }
    }

  }

  .btn-padding-lg{
    margin-top: 60px;
  }


  //3 row-items
  //border
  .eltdf-post-item{

    margin-bottom: 20px;

    @include breakpoint(tablet){
      margin-bottom: 0;
    }

  }

}


.view-all-blog {
  float: right;
  z-index: 5;
  right: 5px;
  position: relative;
}


