/*****
/* Product Modals
/********************/

#et_youtubeModal, #licenseModal{

  &.modal.in .modal-dialog{
    @include transform(translate3d(0, 100px, 0));
  }

  &.modal.fade .modal-dialog{
    @include transform(translate3d(0, 100px, 0));
  }

  &.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

    .modal-body{
      position: relative;
    }

    &.fade{
      .modal-dialog{
        @include transition(transform .3s ease-in-out);
      }
    }

    &.in {
      .modal-dialog{
        @include transform(translate3d(0,0,0));
      }
    }

    .nav{
      margin-bottom: 0;
      li{
        position: relative;
        a{
          position: relative;
          display: block;
          padding: 10px 15px;
          line-height: 1.428;
        }
      }
    }

    .nav-tabs{
      &.nav-justified{
        width: 100%;
        border-bottom: 0;

        &>li{
          @include breakpoint(tablet){
            display: table-cell;
            width: 1%;
          }

          a{
            text-align: center;
          }
        }
      }
      li{
        &.active{
          a{
            cursor: pointer;
          }
        }
      }
    }
  }

  .modal-dialog{
    position: relative;
    width: auto;
    margin: 10px;

    @include breakpoint(tablet){
      width: 600px;
      margin: 30px auto;
    }
  }

  .modal-open{
    .modal{
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;

    @include breakpoint(tablet){
      box-shadow: 0 5px 15px rgba(0,0,0, .5);
    }
  }

  .modal-header{
    padding: 21px 15px 20px;
    border:none;

    .close{
      margin-top: 6px;
      padding: 0;
      cursor: pointer;
      background: 0 0;
      border:0;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .2;
    }
  }
}

#licenseModal{

  overflow-y: scroll !important;

  //mobile only btns
  .nav-tabs{

      position: fixed;
      bottom:0;
      width: 100%;
      z-index: 2;
      background-color: $white;
      display: flex;
      flex-direction: row;
      margin:0;
      box-shadow: -11px -26px 17px -19px rgba(0, 0, 0, 0.15);

      li{
        list-style: none;
        margin: 0;
        flex: 1;
        a{
          padding: 20px 10px !important;
        }
        &.active{
          a{
            background-color: $pink !important;
          }
        }
      }

    @include breakpoint(desktopXL){

      width: 200px !important;
      top: 50%;
      @include transform(translateY(-50%));
      flex-direction: column;
      left: 0;
      bottom: auto;
      box-shadow: 0px 18px 70px -19px rgba(0, 0, 0, 0.3);

      li{
        width: 200px !important;
      }

    }

  }

  .modal-dialog{

    @include breakpoint(tablet){
      margin-top: 50px;
      width: 90%;
    }
  }

  .modal-content{
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(desktop){
        min-height: 83vh;
    }
    @include breakpoint(desktopXL){
      min-height: 90vh;
      margin-bottom:0;
    }


  }

  .modal-header{
    padding:0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tab-pane{
    padding-top: 60px;

    @include breakpoint(laptop){
      padding: 50px 0 20px;
    }
  }

  .tab-content{
    visibility: hidden;
    padding:0;
    opacity: 0;
    @include transition(opacity .3s);

    @include breakpoint(tablet){
      padding: 0 40px;
    }

    @include breakpoint(laptop){
      padding: 0 25px;
    }

    &.active{
      opacity: 1;
      visibility: visible;
    }

    h3{
      font-size: 21px;
      font-weight: 600;
      color: $dark-blue;
    }

    ul{
      padding-left: 20px;
      margin-bottom: 25px;
      list-style: none;
      line-height: 24px;
      color:#424242;
      font-size: 16px;

      li{
        list-style: disc;
        margin-bottom: 15px;

      }
    }

  }

  .modal-body{
    .nav-tabs{
      display: none;
    }
  }

  .etlicense-modal{

    //hide card on mobile
    .et-flex-md-4{
      display: none;
      @include breakpoint(tablet){
        display: flex;
        flex: 1 0 100%;
        justify-content: center;
      }
      @include breakpoint(laptop){
        flex: 1 0 45%;
      }
    }

    .et-flex-md-8{
      @include breakpoint(laptop){
        flex: 1 0 55%;
      }
    }

    @include e(card){

      h2{
        color: $dark-blue;
      }
      h3{
        font-weight: 400;
      }

      .card__list{
        li{
          list-style: none;
        }
        i{
          color: $dark-blue;
        }

      }

    }

    @include e(header){
      h2{
        background-color: $blue;
        color: $dark-blue;
        padding: 40px 15px;
        font-size: 24px;
        font-weight: 600;

        @include breakpoint(tablet){
          background-color: transparent;
          padding: 30px 0 15px;
          font-size: 36px;
        }

        @include breakpoint(laptop){
         padding-top: 0;
        }
      }
      p{
        padding: 20px 15px 0;

        @include breakpoint(tablet){
          padding: 0px 0 15px;
          font-size: 18px;
          line-height: 28px;
        }


      }
    }

    @include e(body){
      padding: 0 15px;

      @include breakpoint(tablet){
       padding: 0;
      }
    }
    
    @include e(content){
      flex: 1;

      @include breakpoint(laptop){
          padding: 0 20px 0 20px;
      }
    }

  }

  .modal-body{
    padding:0;
  }

  .nav-tabs.nav-justified>li>a{
    border-radius: 0;
    background-color: #eee;
    border:none;
    color:#000;
    &:hover{
      background-color: #ddd;
    }
  }
  .nav-tabs.nav-justified>.active>a{
    border:none;
    color:#fff;
    background-color: #c69f73;
    &:hover{
      background-color: #c69f73;
    }
  }
}

.licenseModal-wrapper{
  padding: 30px 0 60px;
  display: flex;
  justify-content: center;
  .et-btn-round{
    max-width: none;
  }
}

#et_youtubeModal{

  .modal-body{
    padding: 15px;
    @include breakpoint(laptop){
      min-height: 350px;
    }
  }

}

.fade{
  opacity: 0;
  @include transition(opacity .3s ease-in-out);
  &.in{
    opacity: 1;
  }
}

.tab-content{
  .tab-pane{
    display: none;

    &.active{
      display: block;
    }
  }

}

.eltdf-sticky-header{
  &.modal-open{
    @include transform(translateY(-100%) !important);
  }
}

.et-product-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;

  &.fade{
    opacity: 0;
  }

  &.in{
    opacity: .7;
  }

}

.modal-loader {
  position: absolute;
  top: 25%;
  left: 46%;
  @include transform(translateX(-50%)translateY(-50%)translateZ(0));
  font-size: 10px;
  margin: 0;
  text-indent: -9999em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.1s infinite linear;
  animation: load3 1.1s infinite linear;
  @include transition(opacity .2s);
}
.modal-loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.modal-loader:after {
  background: $gold;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}