/*------------------------------------*\
    Courses and products slider
\*------------------------------------*/

//change arrows to fontawesome
.icon-arrows-left:before{
  content: '\f104';
}
.icon-arrows-right:before{
  content: '\f105';
}
[class^="icon-arrows-"]:before, [class*=" icon-arrows-"]:before{
  font-family: FontAwesome !important;
}

.et-primary-slider{

  .flex-direction-nav{

    padding: 30px 0;
    bottom: -110px;
    top: auto;
    right: auto;
    left: 50%;
    @include transform(translateX(-50%));

    @include breakpoint(laptop){
      display: none;
    }

    li{
      a{
        font-size: 40px;
      }
    }
    li:first-child{
      margin-right: 45px;
    }
  }

  .flex-viewport{
    overflow: visible !important;
  }

  .eltdf-carousel-item{

  }
  .eltdf-pt-one-item{
    text-align: center;
    min-height: 282px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    display: block;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.2);
    @include transition(all .3s ease-in-out);
    @include transform(translate3d(0, 0, 0));

    &:hover{
      @include transform(translate3d(0,-5px, 0));
      box-shadow: 0px 20px 45px -6px rgba(0, 0, 0, 0.2);

      .eltdf-image-link{
        @include transition(opacity .15s);
        &::after{
          opacity: 1;
        }
      }
    }
  }

  .eltdf-pc-title{
    font-size: 24px;
    font-weight: 600;
    color: $pink;
  }

  .eltdf-pt-one-content-holder{
    padding: 25px 0;
  }
  .eltdf-pt-one-title-holder{
   margin:0 auto;
    .eltdf-pt-one-title{
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 58px;
      }
    }
  }

  .eltdf-pt-one-image-holder{
    margin-bottom: 0;
    border-radius: 10px;
  }

  .eltdf-pt-link{
    font-size: 18px;
    font-weight: 600;
    color: $dark-blue;
  }

  .et-slider-cat{
    display: block;
    position: absolute;
    bottom: -11px;
    z-index: 1;
    left: 50%;
    @include transform(translateX(-50%));
    padding: 6px 12px;
    border-radius: 25px;

    &.cat-courses{
      background-color: $gold;
    }
    &.cat-photoshop{
      background-color: $pink;
    }
    &.cat-fonts{
      background-color: $purple;
    }

    a{
      font-size: 11px;
      line-height: 11px;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}