
$image_size: 350px;
//blog container padding
.blog {
  .eltdf-content{
    padding-bottom: 15px;
  }
}

//Side bar mobile
.eltdf-two-columns-75-25 .eltdf-column2 .eltdf-column-inner{

  @include breakpoint(rd-tablet-max){
    padding: 0;
  }
}

.et2017-blog{

  .eltdf-pt-six-title{
    font-size: 24px;
  }

  .eltdf-pt-three-item .eltdf-pt-three-image-holder{
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    @include breakpoint(tablet){
      width: $image_size;
    }
    img {
      max-width: $image_size;
      @media only screen and (max-width: 600px) {
        max-width: 100%;
      }
    }
  }
  .eltdf-pt-three-content-holder{
    display: block;
    width: 100%;
  }

  .et2017-blog-feature-item{
    margin-bottom: 30px;
  }

  .eltdf-pt-three-item{
    margin-bottom: 20px;

    .eltdf-post-info-category{
      a{
        color: $cinn;

        &:hover{
          color: $light-brown;
        }
      }
    }
  }

  .eltdf-pt-three-item-inner {
    padding-bottom: 30px;
    margin-bottom: 10px;
  }

  .eltdf-post-item .eltdf-pt-info-section{
    border: none;
  }

  .eltdf-pt-three-item .eltdf-pt-three-content-holder .eltdf-post-excerpt{
    margin-bottom: 5px;
  }

  .eltdf-pagination {
    margin-top: 0;
  }

  .blog-feature-btn {
    padding: 15px 0;
    text-align: center;
  }

  .eltdf-pagination ul{

    display: table;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      float: none;
      &.active{
        span{
          border-radius: 50%;
          background-color: $lighter-grey-hover;
          color: $dark-blue;
        }
      }
      a{
        border-radius: 50%;
        background-color: transparent;
        color: $dark-blue;
        @include transition( background-color .15s ease-in-out, color .15s ease-in-out);
      }
      &:hover{
        a{
          background-color: $blue;
        }
      }
    }

  }

}

.eltdf-two-columns-75-25 .eltdf-column1{
  width: 74%;
}
.eltdf-two-columns-75-25 .eltdf-column2{
  width: 26%;
}

//nav hover{
.eltdf-main-menu>ul>li.eltdf-active-item>a, .eltdf-main-menu>ul>li:hover>a{
  color: $cinn !important;
}

//nav sub cat drop-down

.eltdf-plw-tabs .eltdf-plw-tabs-tabs-holder .eltdf-plw-tabs-tab a{
  span{
    @include transition( color .15s ease-in-out);
  }
  &:hover {
    color: $blue !important;
  }

}
//sub item dropdown image holder
.eltdf-plw-tabs-content-holder{
  .eltdf-pt-six-item.eltdf-item-hovered .eltdf-pt-six-title a{
    color: $blue !important;
  }
}
// normal dropdown
.eltdf-drop-down .eltdf-menu-wide .eltdf-menu-second .eltdf-menu-inner>ul>li>a{
  color: $blue;
}

h6{
  color: $cinn;
}