.eltdf-related-posts-holder .eltdf-related-image+.eltdf-related-content{
  position: relative;
  padding: 10px 0 0;
  background: transparent;
}
.eltdf-related-posts-holder .eltdf-related-content .eltdf-related-title{
  a{
    color: $black;
  }
}